{% extends "base.html" %}

{% block title %}Please Log in{% endblock %}

{% block stylesheets %}
  <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin{
      margin-bottom: 10px;
    }
    .form-signin{
      font-weight: normal;
    }
    .form-signin{
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin:focus {
      z-index: 2;
    }
    .form-signin input[type="UserName"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-form center-block form-signin">
            <h2>Please Log in</h2>
            {% include 'flash_messages.html' %}
            <form action="{{ url_for('login') }}?next={{next}}" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username(class='form-control', placeholder="Enter your username") }}
                    {{ form.password(class='form-control') }}
                </div>
                <button name="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
        </div>
        <a href="{{ url_for('home') }}">トップページに戻る</a>
    </div>
{% endblock %}