{% extends "base.html" %}

{% block stylesheets %}
    <link href="/static/css/prism.css" rel="stylesheet"/>
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#memue" aria-controls="memue" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">CHUNITHM Rate Calculator</a>
      <div class="collapse navbar-collapse" id="memue">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Dashboard</a>
          </li>
        </ul>
        <div class="mt-2 mt-md-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            {% if session.logged_in %}
              <a class="nav-link" href="/logout">Logout</a>
            {% else %}
              <a class="nav-link" href="/login">Login</a>
            {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">CHUNITHM Rate Calculator</h1>
        <p class="sub-title">CHUNITHM[©SEGA]の非公式レート解析ツール</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="news">
            <h1>更新履歴</h1>
            <hr>
            <div class="column">
              <div class="date">2017/6/26</div>
              <div class="version">
                <p class="ver version">ver4.0.6</p>
                <p class="name version">広告削除</p>
              </div>
              <div class="detail">
                <p>広告掲載を取りやめました<br>Google Cloud Platformに移行することで、サーバー維持費を月額5$に抑えることができたので広告掲載を取りやめました。</p>
              </div>
            </div>
            <div class="column">
              <div class="date">2017/02/14</div>
              <div class="version">
                <p class="ver version">ver5.0.6</p>
                <p class="name version">Recent枠の不具合修正</p>
              </div>
              <div class="detail">
                <p>前回のアップデートからRecent枠が更新されないという不具合がありました。<br>修正のためにデータベースを削除せざる負えなかったので、<br>
                レート推移履歴は削除いたしました。申し訳ございません。</p>
              </div>
            </div>
            <div class="column">
              <div class="date">2017/02/09</div>
              <div class="version">
                <p class="ver version">ver5.0.5</p>
                <p class="name version">AirPlusに順次対応</p>
              </div>
              <div class="detail">
                <p>譜面定数調査は<a href="http://d.hatena.ne.jp/risette14/20170208/1486529479">[CHUNI]チュウニズムのレーティング研究10</a>を参考にしてください。</p>
              </div>
            </div>
            <div class="column">
              <div class="date">2017/01/31</div>
              <div class="version">
                <p class="ver version">ver5.0.0</p>
                <p class="name version">Python版に移行</p>
              </div>
              <div class="detail">
                <p>コードを登録しなおしてください<br>
                レート値不整合の不具合を修正しました。</p>
                </div>
            </div>
            <div class="column">
              <div class="date">2016/11/23</div>
              <div class="version">
                <p class="ver version">ver4.0.5</p>
                <p class="name version">広告掲載</p>
              </div>
              <div class="detail">
                <p>広告掲載いたしました。(Google-AdSense)<br>毎月サーバー維持費に2,650円かかっており、自費でまかなってるのが現状です。<br>サービスを維持するために広告掲載に御理解をお願い致します。</p>
              </div>
            </div>
          </div>

          <div class="about">
            <h1>このツールについて</h1>
            <hr>
            <p>CHUNITHM[©SEGA]の非公式レート解析ツールです。</p>
            <p>何故作ったか・・・</p>
            <blockquote class="twitter-tweet" data-lang="ja">
              <p dir="ltr" lang="ja"><a href="https://twitter.com/Akashi_SN">@Akashi_SN</a> チュウニズムのスコア計算プログラム作って(プラスにも対応してるので)</p> — ずーむ (@zoom4638) <a href="https://twitter.com/zoom4638/status/711201123181264896">2016年3月19日</a>
            </blockquote>
            <p>このリプがきっかけで作った</p>
            <p>現在も開発中なのでGitHubにて協力をおねがいします。<br>
            <a href="https://github.com/AkashiSN/CHUNITHM-Rate-Calculator-Python">CHUNITHM-Rate-Calculator-Python[Akashi_SN]</a></p>
            <b>現在の機能</b>
            <ul>
              <li>楽曲別レートの計算</li>
              <li>最大レートの算出</li>
              <li>ベスト枠とリセント枠の表示</li>
              <li>ベスト枠に入るために必要なスコアの表示</li>
              <li>スコア順や難易度順、レート順でのソート</li>
              <li>レートの推移をグラフで表示</li>
              <li>リセント候補枠の実装</li>
            </ul>
            <b>実装予定</b>
            <ul>
              <li>おすすめ機能</li>
              <li>UIの変更</li>
            </ul>
            <p>実装してほしい機能がありましたら、<a href="https://twitter.com/Akashi_SN">@Akashi_SN</a>までお知らせください。</p>
            <p>また、バグ報告なども詳細な情報とともに<a href="https://twitter.com/Akashi_SN">@Akashi_SN</a>までお知らせください。</p>

            <p>レートの仕組みについては<a href="http://d.hatena.ne.jp/risette14/" target="_brunk">リゼット(14新)推奨日記</a>(<a href="https://twitter.com/capue">@capue</a>)や<a href="http://www.atomic--age.net/information/chunithm/system#TOC--14" target="_brunk">CHUNITHMゲームシステム、概要等まとめ</a>に詳しく書いてあります。</p>

            <p>計算方法や譜面定数は<a href="https://twitter.com/capue">@capue</a>さん、<a href="https://twitter.com/max_eipi">@max_eipi</a>さんほかによるものを参考にしました。ありがとうございました。</p>
          </div>

          <div class="notice">
            <h1>注意</h1>
            <hr>
            <u>このツールは非公式です。あくまで自己責任で使用してください。このツールを使用したことで起こったトラブルに制作者は責任を持ちません</u>
          </div>

          <div class="spec" id="notice">
            <h1>仕様</h1>
            <hr>
            <b><u>レベル11以上の楽曲が対象です</u></b>
            <p>次の場合では正しく計算されません</p>
            <ul>
              <li>ベスト枠に関して、レベル11以上の楽曲を30種類以上やっていない</li>
              <li>リセント枠に関して、同様にレベル11以上の楽曲を10曲やっていない</li>
            </ul>
            <b>※このツールで表示しているリセント枠はCHUNITHM-NETの仕様上直近５０曲しか取得できないという制約があるため、ツールを使用する初めのうちは大きな誤差があることに注意してください。</b>
            <p>リセント枠については<a href="http://max-eipi.hatenablog.com/entry/2016/08/22/031357">【CHUNITHM Plus 確定版】Recent枠遷移の推測 + α - CHUNITHMレーティング考察日和</a>(<a href="https://twitter.com/max_eipi">@max_eipi</a>)にて考察されているリセント候補枠を実装しています。</p>
          </div>

          <div class="usage">
            <h1>使い方</h1>
            <hr>
            <div class="entry">
              <h2>登録</h2>
              <hr>
              <p>このコードをわかりやすい名前でブックマークに登録</p>
              <pre id="code"><code class="language-javascript">javascript:(function(){
    if (!location.href.match(/^https:\/\/chunithm-net.com/)) {
        alert("CHUNITHM NETを開いた状態でしてください");
        throw Error();
    }
    window.name = 'CHUNITHM ■ CHUNITHM-NET';
    var html = '&lt;form method="post" action="https://chunical.net/chunithm.api" id="postjump" target=_brunk style="display: none;"&gt;&lt;input type="hidden" name="userid" value="' + document.cookie + '" &gt;&lt;/form&gt;';
    $("body").append(html);
    $('#postjump').submit();
    $('#postjump').remove();
})(document);
              </code></pre><b>※Android系ではChrome以外では動作しないようです</b>
            </div>

            <div class="run">
              <h2>実行</h2>
              <hr>
              <ul>
                <li>CHUNITHM NETにログイン</li>
                <li>利用権があることを確認</li>
                <li>CHUNITHM NET の画面を出したまま、先ほどのブックマークを開く</li>
                <li>iPhoneの場合はお気に入りから呼び出して使えます。</li>
                <li>Androidの場合はURLのところにブックマークに登録した名前を打ち込みjavascript:(function()となっているものを選びます</li>
                <img style="max-width:400px;width:75%;" src="/static/images/android-usage-4.png" />
              </ul>
            </div>

            <div class="detail">
              <h2>詳しく</h2>
              <hr>
              
              <p>PCとAndroidのGoogle Chrome,iPhone(Safari)での使い方</p>
              <a href="javascript:void(0)" onclick="displayUsage(0)">PC(Google Chrome)</a><br>
              <a href="javascript:void(0)" onclick="displayUsage(1)">Android(Google Chrome)</a><b>※Android系ではChrome以外では動作しないようです</b><br>
              <a href="javascript:void(0)" onclick="displayUsage(2)">iPhone(Safari)</a><br>
              
              <div id="pc-usage" style="display:none">
                <h3>PC(Google Chrome)</h3>
                <hr>
                <ol>
                  <li>このページをブックマークに登録<br>
                    <img src="/static/images/pc-usage-0.jpg" >
                  </li>
                  <li>このコードをコピーする
                    <pre><code class="language-javascript">javascript:(function(){
    if (!location.href.match(/^https:\/\/chunithm-net.com/)) {
        alert("CHUNITHM NETを開いた状態でしてください");
        throw Error();
    }
    window.name = 'CHUNITHM ■ CHUNITHM-NET';
    var html = '&lt;form method="post" action="https://chunical.net/chunithm.api" id="postjump" target=_brunk style="display: none;"&gt;&lt;input type="hidden" name="userid" value="' + document.cookie + '" &gt;&lt;/form&gt;';
    $("body").append(html);
    $('#postjump').submit();
    $('#postjump').remove();
})(document);
              </code></pre>
                  </li>
                  <li>右上の3つの横線から先ほど登録したブックマークを右クリックし、編集を選択します
                    <p class="resizeimage">
                      <img src="/static/images/pc-usage-1.jpg" >
                    </p>
                  </li>
                  <li>
                    URLの欄を先ほどコピーしたコードを貼り付け、保存します
                    <p class="resizeimage">
                      <img src="/static/images/pc-usage-2.jpg" >
                    </p>
                  </li>
                  <li>
                    登録したブックマークレットをチュウニズムネットにログインした状態で実行
                    <p class="resizeimage">
                      <img src="/static/images/pc-usage-3.jpg" >
                    </p>
                  </li>
                  <li>
                    楽曲情報の取得中・・・
                    <p class="resizeimage">
                      <img src="/static/images/pc-usage-4.jpg" >
                    </p>
                  </li>
                  <li>
                    完了！
                    <p class="resizeimage">
                      <img src="/static/images/pc-usage-5.jpg" >
                    </p>
                  </li>
                </ol>
              </div>
              <div id="android-usage" style="display:none">
                <h3>Android(Google Chrome)</h3>
                <hr>
                <ol>
                  <li>
                    あらかじめこのコードをコピーしておきます
                    <pre><code class="language-javascript">javascript:(function(){
    if (!location.href.match(/^https:\/\/chunithm-net.com/)) {
        alert("CHUNITHM NETを開いた状態でしてください");
        throw Error();
    }
    window.name = 'CHUNITHM ■ CHUNITHM-NET';
    var html = '&lt;form method="post" action="https://chunical.net/chunithm.api" id="postjump" target=_brunk style="display: none;"&gt;&lt;input type="hidden" name="userid" value="' + document.cookie + '" &gt;&lt;/form&gt;';
    $("body").append(html);
    $('#postjump').submit();
    $('#postjump').remove();
})(document);
              </code></pre>
                    <p class="resizeimage">
                      <img src="/static/images/android-usage-0.png" >
                    </p>
                  </li>
                  <li>
                    右上の3つの点を押し、星を押してブックマークに登録する
                    <p class="resizeimage">
                      <img src="/static/images/android-usage-1.png" >
                    </p>
                  </li>
                  <li>
                    もう一度星を押して、ブックマークを編集する
                    <br>URLのところに先ほどコピーしたコードを貼り付ける
                    <br>左上の矢印を押して編集を完了する
                    <p class="resizeimage">
                      <img src="/static/images/android-usage-2.png" >
                    </p>
                  </li>
                  <li>
                    チュウニズムネットにログイン
                    <p class="resizeimage">
                      <img src="/static/images/android-usage-3.png" >
                    </p>
                  </li>
                  <li>
                    チュウニズムネットにログインした状態でURLの欄に先ほどのブックマークレットの名前を打ち込み、
                    <br>javascript:(function()となっているものを選ぶ
                    <p class="resizeimage">
                      <img src="/static/images/android-usage-4.png" >
                    </p>
                  </li>
                  <li>
                    完了！
                    <p class="resizeimage">
                      <img src="/static/images/android-usage-5.png" >
                    </p>
                  </li>
                </ol>
              </div>
              <div id="iphone-usage" style="display:none">
                <h3>iPhone(Safari)</h3>
                <hr>
                <ol>
                  <li>
                    あらかじめこのコードをコピーしておきます
                    <pre><code class="language-javascript">javascript:(function(){
    if (!location.href.match(/^https:\/\/chunithm-net.com/)) {
        alert("CHUNITHM NETを開いた状態でしてください");
        throw Error();
    }
    window.name = 'CHUNITHM ■ CHUNITHM-NET';
    var html = '&lt;form method="post" action="https://chunical.net/chunithm.api" id="postjump" target=_brunk style="display: none;"&gt;&lt;input type="hidden" name="userid" value="' + document.cookie + '" &gt;&lt;/form&gt;';
    $("body").append(html);
    $('#postjump').submit();
    $('#postjump').remove();
})(document);
              </code></pre>
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-0.png" >
                    </p>
                  </li>
                  <li>
                    赤丸のところを押しブックマークに登録
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-1.png" >
                    </p>
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-2.png" >
                    </p>
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-3.png" >
                    </p>
                  </li>
                  <li>
                    赤丸のところを押しブックマークを表示させる
                    <br>
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-4.png" >
                    </p>
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-5.png" >
                    </p>
                  </li>
                  <li>
                    ブックマークを編集する
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-6.png" >
                    </p>
                  </li>
                  <li>先ほどコピーしたコードを貼り付ける
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-7.png" >
                    </p>
                  </li>
                  <li>
                    チュウニズムネットにログインする
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-8.png" >
                    </p>
                  </li>
                  <li>
                    ブックマークを表示させ、先ほど登録したブックマークを押す
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-9.png" >
                    </p>
                  </li>
                  <li>
                    別タブに移動する
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-10.png" >
                    </p>
                  </li>
                  <li>
                    取得中・・・
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-11.png" >
                    </p>
                  </li>
                  <li>
                    完了！
                    <p class="resizeimage">
                      <img src="/static/images/iphone-usage-12.png" >
                    </p>
                  </li>
                </ol>
                <script>
                  function displayUsage(n) {
                    if (n == -1) {
                      jQuery("#pc-usage").fadeOut();
                      jQuery("#android-usage").fadeOut();
                      jQuery("#iphone-usage").fadeOut();
                    }
                    if (n == 0) {
                      jQuery("#pc-usage").fadeIn();
                      jQuery("#android-usage").fadeOut();
                      jQuery("#iphone-usage").fadeOut();
                    }
                    if (n == 1) {
                      jQuery("#pc-usage").fadeOut();
                      jQuery("#android-usage").fadeIn();
                      jQuery("#iphone-usage").fadeOut();
                    }
                    if (n == 2) {
                      jQuery("#pc-usage").fadeOut();
                      jQuery("#android-usage").fadeOut();
                      jQuery("#iphone-usage").fadeIn();
                    }
                  }
                </script>
              </div>
              <a href="javascript:void(0)" onclick="displayUsage(-1)">閉じる</a><br>
            </div>
          </div>

          <div class="photos">
            <h2>スクリーンショット</h2>
            <hr>
            <img class="image" src="/static/images/android-usage-5.png" />
            <img class="image" src="/static/images/android-usage-6.png" />
            <img class="image" src="/static/images/android-usage-7.png" />
            <img class="image" src="/static/images/android-usage-8.png" />
          </div>

        </div>        

        <!--Side Var-->
        <div class="col-md-4">
          <div class="author">
            <hr>
            <h1>製作者</h1>
            <a href="https://twitter.com/Akashi_SN">
            <img src="/static/images/icon.jpg"><br>
            @Akashi_SN</a>
          </div>

          <div class="twitter">
            <hr>
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/CHUNITHMRateCalculator" data-widget-id="790225362219171840">#CHUNITHMRateCalculator</a>
            <hr>
          </div>          
        </div>
        
      </div>
      <hr>
      <footer>
        <p>何かありましたら<a href="https://twitter.com/Akashi_SN">@Akashi_SN</a>の方にお願いします</p>
        <p>&copy; @Akashi_SN 2016-2017</p>
      </footer>
    </div>
{% endblock %}
    
{% block scripts %}
<script src="/static/js/prism.js"></script>
{% endblock %}
