{% extends "base.html" %}

{% block stylesheets %}
    <link href="/static/css/admin.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#memue" aria-controls="memue" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">CHUNITHM Rate Calculator</a>

      <div class="collapse navbar-collapse" id="memue">
        <ul class="navbar-nav mr-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="/admin/home/overview">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user">Users</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/music/all">Music <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div class="mt-2 mt-md-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            {% if session.logged_in %}
              <a class="nav-link" href="/logout">Logout</a>
            {% else %}
              <a class="nav-link" href="/login">Login</a>
            {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/admin/music/all">全楽曲一覧 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/music/unregistered">未登録楽曲一覧</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/music/registered">登録楽曲一覧</a>
              </li>
            <label class="label">フィルター</label>
            <li class="nav-item">
              <form method="POST" action="/admin/music/all">
                <div class="form-group nav-link">
                  <label for="MusicName">楽曲名:</label>
                  <input type="text" class="form-control" name="MusicName" id="MusicName" value="{{ Dic.MusicName }}">
                  <label for="MusicName">を含む</label>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="DiffLevel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if Dic.DiffLevel %}
                      {{ Dic.DiffLevel.name }}
                    {% else %}
                      難易度
                    {% endif %}</button>
                    <div class="dropdown-menu DiffLevel form-control" aria-labelledby="DiffLevel">
                      <button class="dropdown-item" type="button" value="">難易度</button>
                      <button class="dropdown-item" type="button" value="3" style="color: #8200DC">Master</button>
                      <button class="dropdown-item" type="button" value="2" style="color: #A00A50">Expert</button>
                    </div>
                    <input type="hidden" name="DiffLevel" value="{% if Dic.DiffLevel %}{{ Dic.DiffLevel.value }}{% endif %}">
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="Level" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if Dic.Level %}
                      {{ Dic.Level }}
                    {% else %}
                      Level
                    {% endif %}</button>
                    <div class="dropdown-menu Level form-control" aria-labelledby="Level">
                      <button class="dropdown-item" type="button" value="">レベル</button>
                      <button class="dropdown-item" type="button" value="13+">13+</button>
                      <button class="dropdown-item" type="button" value="13">13</button>
                      <button class="dropdown-item" type="button" value="12+">12+</button>
                      <button class="dropdown-item" type="button" value="12">12</button>
                      <button class="dropdown-item" type="button" value="11+">11+</button>
                      <button class="dropdown-item" type="button" value="11">11</button>
                    </div>
                    <input type="hidden" name="Level" value="{{ Dic.Level }}">
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="Genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if Dic.Genre %}
                      {{ Dic.Genre.name }}
                    {% else %}
                      ジャンル
                    {% endif %}</button>
                    <div class="dropdown-menu Genre form-control" aria-labelledby="Genre">
                      <button class="dropdown-item" type="button" value="99">全ジャンル</button>
                      <button class="dropdown-item" type="button" value="00">POPS &amp; ANIME</button>
                      <button class="dropdown-item" type="button" value="02">niconico</button>
                      <button class="dropdown-item" type="button" value="03">東方Project</button>
                      <button class="dropdown-item" type="button" value="06">VARIETY</button>
                      <button class="dropdown-item" type="button" value="01">GAME</button>
                      <button class="dropdown-item" type="button" value="07">イロドリミドリ</button>
                      <button class="dropdown-item" type="button" value="08">言ノ葉Project</button>
                      <button class="dropdown-item" type="button" value="05">ORIGINAL</button>
                    </div>
                    {% if Dic.Genre %}
                      <input type="hidden" name="Genre" value="{{ Dic.Genre.value }}">
                    {% else %}
                      <input type="hidden" name="Genre" value="99">
                    {% endif %}
                  </div>
                  <input type="hidden" name="BaseRate" value="-1">
                  <button type="submit" class="btn btn-default">検索</button>
                </div>
              </form>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          {% if page == 'Music' %}
            <h2>{{ Name }}</h2>
            <div class="table-responsive">
              <table class="table table-striped" id="sorter">
                <thead>
                  <tr>
                    <th>MusicId</th>
                    <th>Level</th>
                    <th>MusicImage</th>
                    <th>MusicName</th>
                    <th style="width: 30%">ArtistName</th>
                    <th>BaseRate</th>
                    <th>AirPlus</th>
                  </tr>
                </thead>
                <tbody>
                {% for Music in MusicList %}
                  <tr>
                    <td>{{ Music.MusicId }}</td>
                    {% if Music.Level == 2 %}
                      <th style="color: #A00A50">Expert</th>
                    {% elif Music.Level == 3%}
                      <th style="color: #8200DC">Master</th>
                    {% endif %}
                    <td><img src="https://chunithm-net.com/mobile/{{ Music.MusicImage }}" /></td>
                    <td>{{ Music.MusicName }}</td>
                    <td>{{ Music.ArtistName }}</td>
                    {% if session.logged_in %}
                      <form method="POST">
                        <input class="form-control" type="hidden" name="MusicId" value="{{ Music.MusicId}}">
                        <input class="form-control" type="hidden" name="Level" value="{{ Music.Level}}">
                        <td><input class="form-control" type="text" name="BaseRate" value="{{ Music.BaseRate}}"></td>
                      </form>
                    {% else %}
                      <td>{{ Music.BaseRate}}</td>
                    {% endif %}
                    <td>{{ Music.AirPlus }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
          {% if frame == 'overview' %}
            <h2>トップ10</h2>
          {% elif page == 'Users'%}
            <h2>ユーザー一覧</h2>
          {% endif %}
            <div class="table-responsive">
              <table class="table table-striped" id="sorter">
                <thead>
                  <tr>
                    <th>UserName</th>
                    <th>FreindCode</th>
                    <th>Credits</th>
                    <th>DispRate</th>
                    <th>HighestRating</th>
                    <th>MaxRate</th>
                    <th>BestRate</th>
                    <th>RecentRate</th>
                  </tr>
                </thead>
                <tbody>
                {% for User in Users %}
                  <tr>
                    <td>{{ User.UserName }}</td>
                    <td><a href="https://chunical.net/chunithm/user/{{ User.Hash }}" target="_blank">{{ User.FriendCode }}</a></td>
                    <td>{{ User.Credits }}</td>
                    <td>{{ User.DispRate }}</td>
                    <td>{{ User.HighestRating }}</td>
                    <td>{{ User.MaxRate }}</td>
                    <td>{{ User.BestRate }}</td>
                    <td>{{ User.RecentRate }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        {% endif %}
        </main>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
      //Sort
      $(function() {
        $('#sorter').tablesorter();
      });

      //Dropdown
      $(function(){
        $(".DiffLevel button").click(function(){
          $(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text() + ' <span class="caret"></span>');
          $(this).parents('.dropdown').find('input[name="DiffLevel"]').val($(this).attr("value"));
        });
        $(".Level button").click(function(){
          $(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text() + ' <span class="caret"></span>');
          $(this).parents('.dropdown').find('input[name="Level"]').val($(this).attr("value"));
        });
        $(".Genre button").click(function(){
          $(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text() + ' <span class="caret"></span>');
          $(this).parents('.dropdown').find('input[name="Genre"]').val($(this).attr("value"));
        });
      });
    </script>
{% endblock %}
