{% extends "base.html" %}

{% block stylesheets %}
<style type="text/css">
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h2>
                    400 Bad Request</h2>
                <div class="error-details">
                    Sorry, The server cannot or will not process the request due to an apparent client error.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Return to top </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
