<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/prism.css" />
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/prism.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $('#sorter').tablesorter();
        $('#sorter1').tablesorter();
      });
    </script>
    <title>Admin</title>
</head>

 <body>
    <div class="container">
      <h1>管理ページ</h1>
      {% if authenticated%}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>ログイン完了</strong>
        </div>
        <button type="button" class="btn btn-primary" onclick="location.href='/admin/logout'" style="margin-bottom: 10px">Log out</button>
        {% if frame %}
          {% if frame == 'user' %}
            <ul class="nav nav-tabs">
              <li class=""><a href="/admin" data-toggle="tab" aria-expanded="false">About</a></li>
              <li class="active"><a href="/admin/user" data-toggle="tab" aria-expanded="true">User</a></li>
              <li class=""><a href="/admin/music" data-toggle="tab" aria-expanded="false">Music</a></li>
            </ul>
            {% include "User_admin.html" %}
          {% elif frame == 'music' %}
            <ul class="nav nav-tabs">
              <li class=""><a href="/admin" data-toggle="tab" aria-expanded="false">About</a></li>
              <li class=""><a href="/admin/user" data-toggle="tab" aria-expanded="false">User</a></li>
              <li class="active"><a href="/admin/music" data-toggle="tab" aria-expanded="true">Music</a></li>
            </ul>
            {% include "Music_admin.html" %}
          {% endif %}
        {% else %}
          <ul class="nav nav-tabs">
            <li class="active"><a href="/admin" data-toggle="tab" aria-expanded="true">About</a></li>
            <li class=""><a href="/admin/user" data-toggle="tab" aria-expanded="false">User</a></li>
            <li class=""><a href="/admin/music" data-toggle="tab" aria-expanded="false">Music</a></li>
          </ul>
          {% include "About_admin.html" %}
      {% endif %}
      {% else %}
        {% if frame == 'music' %}
          {% include "Music_admin.html" %}
        {% else %}
          <form method="POST" target="" style="width:320px; margin:auto">
            <h1>ログイン</h1>      
            <input type="text" class="form-control" id="username" name="username" adminplaceholder="ID" value="" style="margin-top:10px">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="margin-top:10px">
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px">Sign in</button>
          </form>
        {% endif %}
      {% endif %}
      {% if Error %}
        <div class="alert alert-dismissible alert-danger" style="margin-top: 10px ">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>エラー: </strong>{{ Error }}
        </div>
      {% endif %}
    </div>
  </body>

</html>
