<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">

    <!--Begin SEO-->
    <meta name="robots" content="none" />
    <!--End SEO-->

    <title>Dashboard</title>

    <!--Begin Style-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/admin.css?date=201702172354" rel="stylesheet">
    <!--End Style-->

  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#memue" aria-controls="memue" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">CHUNITHM Rate Calculator</a>

      <div class="collapse navbar-collapse" id="memue">
        <ul class="navbar-nav mr-auto">
        {% if page == 'Home' %}
          <li class="nav-item active">
            <a class="nav-link" href="/admin/home/overview">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/music/unregistered">Music</a>
          </li>
        {% elif page == 'Users' %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/home/overview">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/user">Users <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/music/unregistered">Music</a>
          </li>
        {% elif page == 'Music' %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/home/overview">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user">Users</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/music/unregistered">Music <span class="sr-only">(current)</span></a>
          </li>
        {% endif %}
        </ul>
        <div class="mt-2 mt-md-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            {% if session.logged_in %}
              <a class="nav-link" href="/admin/logout">Logout</a>
            {% else %}
              <a class="nav-link" href="/admin">Login</a>
            {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
          {% if page == 'Home'%}
            <label class="label number">ユーザー数:{{ Number_of_Users }}</label>
            {% if frame == 'overview' %}
              <li class="nav-item">
                <a class="nav-link active" href="/admin/home/overview">Overview <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/home/analytics">Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/home/error">Errors</a>
              </li>
            {% elif frame == 'analytics' %}
              <li class="nav-item">
                <a class="nav-link" href="/admin/home/overview">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/admin/home/analytics">Analytics <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/home/error">Errors</a>
              </li>
            {% elif frame == 'error' %}
              <li class="nav-item">
                <a class="nav-link" href="/admin/home/overview">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/home/analytics">Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/admin/home/error">Errors <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
          {% elif page == 'Users' %}
            <label class="label number">ユーザー数:{{ Number_of_Users }}</label>
            <label class="label">フィルター</label>
            <li class="nav-item">
              <form>
                <div class="form-group nav-link">
                  <label for="UserName">UserName:</label>
                  <input type="text" class="form-control" name="UserName" id="UserName">
                  <label for="FriendCode">FriendCode:</label>
                  <input type="text" class="form-control" name="FriendCode" id="FriendCode">
                  <label for="DispRate">DispRate:</label>
                  <input type="text" class="form-control" name="DispRate" id="DispRate">
                  <label for="HighestRating">HighestRating:</label>
                  <input type="text" class="form-control" name="HighestRating" id="HighestRating">
                  <label for="MaxRate">MaxRate:</label>
                  <input type="text" class="form-control" name="MaxRate" id="MaxRate">
                  <label for="BestRate">BestRate:</label>
                  <input type="text" class="form-control" name="BestRate" id="BestRate">
                  <label for="RecentRate">RecentRate:</label>
                  <input type="text" class="form-control" name="RecentRate" id="RecentRate">
                  <button type="submit" class="btn btn-default">検索</button>
                </div>
              </form>
            </li>
          {% elif page == 'Music' %}
            {% if frame == 'all' %}
              <li class="nav-item">
                <a class="nav-link active" href="/admin/music/all">全楽曲一覧 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/music/unregistered">未登録楽曲一覧</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/music/registered">登録楽曲一覧</a>
              </li>
            {% elif frame == 'unregistered' %}
              <li class="nav-item">
                <a class="nav-link" href="/admin/music/all">全楽曲一覧</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/admin/music/unregistered">未登録楽曲一覧 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/music/registered">登録楽曲一覧</a>
              </li>
            {% elif frame == 'registered' %}
              <li class="nav-item">
                <a class="nav-link" href="/admin/music/all">全楽曲一覧</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/music/unregistered">未登録楽曲一覧</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/admin/music/registered">登録楽曲一覧 <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
            <label class="label">フィルター</label>
            <li class="nav-item">
              <form>
                <div class="form-group nav-link">
                  <label for="UserName">UserName:</label>
                  <input type="text" class="form-control" name="UserName" id="UserName">
                  <label for="FriendCode">FriendCode:</label>
                  <input type="text" class="form-control" name="FriendCode" id="FriendCode">
                  <label for="DispRate">DispRate:</label>
                  <input type="text" class="form-control" name="DispRate" id="DispRate">
                  <label for="HighestRating">HighestRating:</label>
                  <input type="text" class="form-control" name="HighestRating" id="HighestRating">
                  <label for="MaxRate">MaxRate:</label>
                  <input type="text" class="form-control" name="MaxRate" id="MaxRate">
                  <label for="BestRate">BestRate:</label>
                  <input type="text" class="form-control" name="BestRate" id="BestRate">
                  <label for="RecentRate">RecentRate:</label>
                  <input type="text" class="form-control" name="RecentRate" id="RecentRate">
                  <button type="submit" class="btn btn-default">検索</button>
                </div>
              </form>
            </li>
          {% endif %}
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          {% if page == 'Music' %}            
            <h2>{{ Name }}</h2>
            <div class="table-responsive">
              <table class="table table-striped" id="sorter">
                <thead>
                  <tr>
                    <th>MusicId</th>
                    <th>Level</th>
                    <th>MusicImage</th>
                    <th>MusicName</th>
                    <th style="width: 40%">ArtistName</th>
                    <th>BaseRate</th>
                    <th>AirPlus</th>
                  </tr>
                </thead>
                <tbody>
                {% for Music in MusicList %}
                  <tr>
                    <td>{{ Music.MusicId }}</td>
                    {% if Music.Level == 2 %}
                      <th style="color: #A00A50">Expert</th>
                    {% elif Music.Level == 3%}
                      <th style="color: #8200DC">Master</th>
                    {% endif %}
                    <td><img src="https://chunithm-net.com/mobile/{{ Music.MusicImage }}" /></td>
                    <td>{{ Music.MusicName }}</td>
                    <td>{{ Music.ArtistName }}</td>
                    {% if session.logged_in %}
                      <form method="POST">
                        <input class="form-control" type="hidden" name="MusicId" value="{{ Music.MusicId}}">
                        <input class="form-control" type="hidden" name="Level" value="{{ Music.Level}}">
                        <td><input class="form-control" type="text" name="BaseRate" value="{{ Music.BaseRate}}"></td>
                      </form>
                    {% else %}
                      <td>{{ Music.BaseRate}}</td>
                    {% endif %}
                    <td>{{ Music.AirPlus }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
          {% if frame == 'overview' %}
            <h2>トップ10</h2>
          {% elif page == 'Users'%}
            <h2>ユーザー一覧</h2>
          {% endif %}
            <div class="table-responsive">
              <table class="table table-striped" id="sorter">
                <thead>
                  <tr>
                    <th>UserName</th>
                    <th>FreindCode</th>
                    <th>Credits</th>
                    <th>DispRate</th>
                    <th>HighestRating</th>
                    <th>MaxRate</th>
                    <th>BestRate</th>
                    <th>RecentRate</th>
                  </tr>
                </thead>
                <tbody>
                {% for User in Users %}
                  <tr>
                    <td>{{ User.UserName }}</td>
                    <td><a href="https://chunical.net/chunithm/user/{{ User.Hash }}" target="_blank">{{ User.FriendCode }}</a></td>
                    <td>{{ User.Credits }}</td>
                    <td>{{ User.DispRate }}</td>
                    <td>{{ User.HighestRating }}</td>
                    <td>{{ User.MaxRate }}</td>
                    <td>{{ User.BestRate }}</td>
                    <td>{{ User.RecentRate }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        {% endif %}
        </main>
      </div>
    </div>

    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      //Google-Analytics
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || [])
            .push(arguments)
        }
          , i[r].l = 1 * new Date();
        a = s.createElement(o)
          , m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      }
      )(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-86861992-1', 'auto');
      ga('send', 'pageview');

      //Sort
      $(function() {
        $('#sorter').tablesorter();
      });
    </script>
  </body>
</html>
