<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/prism.css" />
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/prism.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <title>Admin</title>
</head>

 <body>
    <div class="container">
      <form method="POST" target="" style="width:320px; margin:auto">
        <h1>管理ページ</h1>

        <input type="text" class="form-control" id="id" name="id" placeholder="ID" value="" style="margin-top:10px">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="margin-top:10px">
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px">Sign in</button>
      </form>
    </div>
  </body>

</html>
