{% block Error %}
<div id="wrap" style="margin-top: 15px;">
  <div id="inner" style="margin-bottom: 0px;padding-bottom: 0px;">
    <div class="frame01 w460">
      <div class="frame01_inside w450">
        <div class="mt_10">
          <h2 id="page_title">エラー</h2>
        </div>
        <div class="box01 w420 p_10">
          <div class="block text_l">
            <div id="errorText_result">
              <p class="font_small">{{ Message }}</p>
            </div>
          </div>
        </div>
        <div class="mb_10 mt_20">
        {% if url %}
          <div class="btn_back" onClick="location.herf('{{ url }}')"></div>
        {% else %}
          <div class="btn_back" onClick="window.open('https://chunithm-net.com/mobile/','CHUNITHM ■ CHUNITHM-NET')"></div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}