<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Begin SEO-->
    <meta name="robots" content="none" />
    <!--End SEO-->

    <title>Login</title>

    <!--Begin Style-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <!--End Style-->

  </head>

  <body>
    <div class="container">
    {% if Error %}
      <div class="alert alert-danger">
        <strong>Warning!</strong> {{ Error }}
      </div>
    {% endif %}
      <form target="" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Please log in</h2>
        <label for="inputUserName" class="sr-only">UserName</label>
        <input type="UserName" name="UserName" class="form-control" placeholder="UserName" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="Password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <a href="/">トップページに戻る</a>
    </div>
  </body>
</html>
