<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">

<head>

  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=420">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Pragma" CONTENT="no-cache">
  <meta http-equiv="Cache-Control" CONTENT="no-cache">
  <meta http-equiv="Expires" CONTENT="-1">
  <meta name="robots" content="INDEX, FOLLOW" />
  <meta property="og:title" content="CHUNITHM Rate Calculator" />
  <meta property="og:type" content="tools" />
  <meta property="og:description" content="チュウニズムのレートを計算するものです。" />
  <meta property="og:site_name" content="Akashi_SNの日記" />
  <link rel="stylesheet" href="https://chunithm-net.com/mobile/common/css/common.css" />
  <link rel="stylesheet" href="https://chunithm-net.com/mobile/common/css/contents.css" />
  <link rel="stylesheet" href="/static/css/chunithm.css" />
  <script src="/static/js/jquery-3.1.1.min.js" ></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script type="text/javascript">
  //Google-Analytics
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || [])
      .push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o)
      , m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-86861992-1', 'auto');
  ga('send', 'pageview');

  //twitter
  ! function (j, h, i) {
    var k, d = j.getElementsByTagName(h)[0]
      , l = /^http:/.test(j.location) ? "http" : "https";
    if (!j.getElementById(i)) {
      k = j.createElement(h);
      k.id = i;
      k.async = true;
      k.src = l + "://platform.twitter.com/widgets.js";
      d.parentNode.insertBefore(k, d)
    }
  }(document, "script", "twitter-wjs");
  </script>
  <style type="text/css">
    #sub_title{position:relative;margin-top:30px;width:100%;font-size:30px;text-align:center;}
  </style>
  <title>CHUNITHM Rate Calculator</title>
</head>
  <body>
    <div id="sub_title">CHUNITHM Rate Calculator</div>
    {% if frame == 'Error' %}
      {% include "Error.html" %}
    {% else %}
      {% include "User.html" %}
      <div id="Buttons">
        <a class="buttons" href="/chunithm/user/{{ Hash }}/best">Best枠</a>
        <a class="buttons" href="/chunithm/user/{{ Hash }}/recent">Recent枠</a>
        <a class="buttons" href="/chunithm/user/{{ Hash }}/graph">グラフ</a>
        <a class="buttons" href="/chunithm/user/{{ Hash }}/tools">ツール</a>
      </div>
      {% if frame == 'Best' %}
      <div id="Sorts_Button">
        <hr class="line_dot_black w420"/>
        <a class="buttons" href="/chunithm/user/{{ Hash }}/best/rate">レート順</a>
        <a class="buttons" href="/chunithm/user/{{ Hash }}/best/score">スコア順</a>
        <a class="buttons" href="/chunithm/user/{{ Hash }}/best/difficult">難易度順</a>
      </div>
      {% endif %}
      {% if Sort %}
        {% include "Sort.html" %}
      {% elif frame == 'Graph' %}
        {% include "Graph.html" %}
      {% elif frame == 'Tools' %}
        {% include "Tools.html" %}
      {% else %}
        {% include "Music.html" %}
      {% endif %}
    {% endif %}
  </body>
</html>