{% block Music %}
<div id="wrap">
  <div id="disp">
    <div style="margin-bottom:0px;padding-bottom:0px;" id="inner">
      <div class="frame01 w460">
        <div class="frame01_inside w450">
          <h2 style="margin-top:10px;" id="page_title">{{ frame }}枠
          </h2>
          <hr class="line_dot_black w420">
          <div class="box01 w420">
            <div class="mt_10">
              <div id="userPlaylog_result">
                {% for Music in Musics %}
                  {% set time = 30 %}
                  {% if frame == 'Recent' %}
                    {% set time = 10 %}
                  {% endif %}
                  {% if loop.index0 == time %}
              </div>
            </div>
          </div>
        </div>
      </div>
       <p style="font-size:15px">スポンサーリンク</p>
        <!-- Chunical.5 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:100px"
             data-ad-client="ca-pub-9431951784509175"
             data-ad-slot="4179909243"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <div class="frame01 w460">
        <div class="frame01_inside w450">
          <h2 style="margin-top:10px;" id="page_title">{{ frame }}枠外
          </h2>
          <hr class="line_dot_black w420">
          <div class="box01 w420">
            <div class="mt_10">
              <div id="userPlaylog_result">
                  {% endif %}
                <div class="frame02 w400">
                  <div class="play_jacket_side">
                    <div class="play_jacket_area">
                      <div id="Jacket" class="play_jacket_img">
                        <img src="https://chunithm-net.com/mobile/{{ Music.Image }}">
                      </div>
                    </div>
                  </div>
                  <div class="play_data_side01">
                    <div class="box02 play_track_block">
                      <div id="TrackLevel" class="play_track_result">
                        <img src="https://chunithm-net.com/mobile/common/images/icon_{{ Music.LevelName }}.png">
                      </div>
                    </div>
                    <div class="box02 play_musicdata_block">
                      <div id="MusicTitle" class="play_musicdata_title">{{ Music.MusicName }}
                      </div>
                      <div class="play_musicdata_score clearfix">
                        <div class="play_musicdata_score_text">譜面定数:
                          <span id="Score">{{ Music.BaseRate }} 
                          </span>
                        </div>
                        <br>
                        <div class="play_musicdata_score_text">RATING:
                          <span id="Score">{{ Music.Rate }}
                          </span>
                        </div>
                        <br>
                        <div class="play_musicdata_score_text">Score:
                          <span id="Score">{{ Music.Score }}
                          </span>
                        </div>
                        <div id="rank">
                          <img src="https://chunithm-net.com/mobile/common/images/icon_{{ Music.Rank }}.png">
                        </div>
                        {% if Music.MaxScore%}
                        <div class="play_musicdata_score_text">Best枠入りまで : 
                          <span id="Score">{{ Music.MaxScore - Music.Score }}({{ Music.MaxScore }})
                          </span>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
