<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHUNITHM Rate Calculator</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />

</head>
<body>
<div class="container">
    <table class="table table-striped table-hover " >
        <thead>
        <tr>
            <th>MusicId</th>
            <th>楽曲名</th>
            <th>ジャケット</th>
            <th>レート</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>カラムの内容</td>
            <td>カラムの内容</td>
            <td>カラムの内容</td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>